@tailwind base;
@tailwind components;
@tailwind utilities;

.blurone{
    /* animation: blurone; */
    animation-duration: 30s;
    animation-iteration-count: infinite;
    left: 0;
    top: 0;
}
@keyframes blurone {
    0%{
        left: 0%;
        top: 0%;
    }
    10%{
        left: 10%;
        top: 20%;
    }
    20%{
        left: 30%;
        top: 50%;
    }
    30%{
        left: 60%;
        top: 30%;
    }
    40%{
        left: 80%;
        top: 90%;
    }
    50%{
        left: 40%;
        top: 40%;
    }
    60%{
        left: 60%;
        top: 30%;
    }
    70%{
        left: 80%;
        top: 90%;
    }
    80%{
        left: 10%;
        top: 20%;
    }
    90%{
        left: 40%;
        top: 40%;
    }
    100%{
        left: 30%;
        top: 50%;
    }
}
.markdown a{
    color: purple;
    font-weight: 700;
}
.markdown h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .markdown code {
    font-family: monospace;
  }
  .markdown h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .markdown p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .markdown pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    @apply p-2 bg-slate-200;
  }
  .markdown ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  .markdown li {
    display: list-item;
  }
  .markdown a {
    color: coral;
  }
  .markdown strong {
    font-weight: bold;
  }